#########################################################
# File managed by Salt. Changes risk being overwritten.
#########################################################
[Unit]
Description={{ desc }}
Wants=network-online.target
After=network-online.target
Documentation=https://github.com/saltstack-formulas/prometheus-formula

[Service]
ExecStart={{ start }}
ExecStop={{ stop }}
PIDFile=/var/run/{{ name }}.pid
LimitNOFILE=65535
# NoNewPrivileges=yes
# OOMScoreAdjust=-900
# PrivateTmp=yes
# TimeoutStartSec=infinity
# TimeoutStopSec=infinity
# UMask=0077
User={{ user }}
Group={{ group }}
WorkingDirectory={{ workdir }}

[Install]
WantedBy=multi-user.target
